<div class="col-xs-12">
	<div class="col-xs-12 text-center">
		<%= image_tag "leverlogoPNG.png", style: "width: 60%;" %>
		<h1 style="margin-top: 0px; font-size: 120px;">Lever App</h1>
		<p style="font-size: 60px;">Thanks for Donating!</p>
	</div>



	<!-- <meta http-equiv="refresh" content="1; url=https://checkout.stripe.com/v3/ZQdHTgQQb08RG01SxL4MA.html?distinct_id=ed0d7758-39f0-b466-a744-4e38690f988b"> -->

	<div class="col-xs-12 text-center">
		<%= form_tag charge_path do %>
		  <article>
		    <%= label_tag(:amount, 'Enter Amount:', style: "font-size: 40px;" )%> <br>
		    <%= text_field_tag(:amount) %>
		  </article>
		  <article>
		    <%= hidden_field_tag(:stripeToken) %>
		  </article>
		  <div id="error_explanation">
		    <% if flash[:error].present? %>
		      <p style="font-size: 40px;"><%= flash[:error] %></p>
		    <% end %>
		  </div>
		  <br>
		  <button type="button" id='donateButton' class="btn btn-primary">Donate</button>
		<% end %>
	</div>

	<br>

</div>

<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>"
  data-amount="1000"
  data-name="Name of Cause"
  data-description="Description of Cause"
  data-locale="auto"
  data-zip-code="true"
  style="display: hidden !important;">
</script>

<script>

console.log('test start')

var searchObject = $location.search();
var id = searchObject['id'];
console.log(id + "  test result");

console.log($location.search()['id'])



$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});

$("#amount").keyup(function(event){
    if(event.keyCode == 13){
        $("#donateButton").click();
    }
});


var handler = StripeCheckout.configure({
  key: '<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>',
  locale: 'auto',
  name: 'Lever App',
  description: 'One-time donation',
  token: function(token) {
    console.log('running4');
    $('#stripeToken').val(token.id);
    $('form').submit();
  }
});

$('#donateButton').on('click', function(e) {
  e.preventDefault();

  console.log('running2');
  $('#error_explanation').html('');

  var amount = $('#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')

  amount = parseFloat(amount);

  if (isNaN(amount)) {
    $('#error_explanation').html('<p style="font-size: 40px;">Please enter a valid amount in USD ($).</p>');
  }
  else if (amount < 1.00) {
    $('#error_explanation').html('<p style="font-size: 40px;>Donation amount must be at least $1.</p>');
  }
  else {

    console.log('running3');
    amount = amount * 100; // Needs to be an integer!
    handler.open({
      amount: Math.round(amount)
    })
  }
});

$(window).on('popstate', function() {
  handler.close();
});
</script>




<script type="text/javascript">

	// function triggerClick() {
	//     if(document.createEvent) {
	//         var evt = document.createEvent("MouseEvents");
	//         evt.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
	//         document.querySelector('#submitForm button').dispatchEvent(evt);
	//     }
	//     else {
	//         document.querySelector('#submitForm button').click();
	//     }
	// }

</script>